@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v11-latin-600.woff2') format('woff2'), url('../fonts/livvic-v11-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v11-latin-700.woff2') format('woff2'), url('../fonts/livvic-v11-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 20px;
}

header {
    background-color: #014E56;
}

.nav_bar {
    padding-top: 75px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    text-decoration: none;
    margin-right: 40px;
    display: inline-block;
    user-select: none;
}

.logo_img {
    display: block;
}

.nav_bar_list {
    margin: 0px;
    margin-right: auto;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.nav_bar_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px;
}

.link_home:hover {
    color: #F67E7E;
}

.link_about:hover {
    color: #F67E7E;
}

.nav_bar_btn {
    text-decoration: none;
    font-size: 18px;
    width: fit-content;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    background: none;
    color: white;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    top: 73px;
}

.nav_bar_btn:hover {
    background-color: white;
    color: black;
}

.hamburger_btn {
    display: none;
}

.hamburger_label {
    display: none;
}

.hamburger_label:active {
    opacity: .7;
}

.hamburger {
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    position: relative;
}

.hamburger_1 {
    margin: 4px 0;
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}

.hamburger_2 {
    margin: 4px 0;
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}

#site_hero_section {
    background-color: #014E56;
    position: relative;
}

.hero_section_img {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
}

.site_hero {
    padding-bottom: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.site_hero_title {
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    color: white;
    width: 532px;
}

.site_hero_title::after {
    content: 'talent';
    color: #F67E7E;
}

.site_hero_text {
    margin: 0;
    font-size: 18px;
    color: white;
    width: 480px;
    margin-top: auto;
    letter-spacing: 1px;
    line-height: 30px;
}

.site_hero_text::before {
    content: '—';
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #79C8C7;
}

.site_hero_img {
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    user-select: none;
}

#services_section {
    background-color: #012F34;
    position: relative;
}

.services {
    padding-top: 200px;
    padding-bottom: 140px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.services_title {
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    width: 450px;
    position: relative;
}

.services_title::before {
    position: absolute;
    content: '—';
    top: -100px;
    color: #F67E7E;
}

.services_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.services_item {
    display: flex;
    margin-bottom: 30px;
}

.services_box {
    width: 450px;
    margin-left: 25px;
}

.service_box_title {
    margin: 0;
    color: #F67E7E;
}

.service_box_text {
    margin: 0;
    margin-top: 16px;
    line-height: 25px;
}

.services_background {
    position: absolute;
    right: 0;
    bottom: 0;
    user-select: none;
}

#info_section {
    background-color: #004047;
    position: relative;
    padding-bottom: 140px;
}

.information {
    color: white;
    text-align: center;
}

.info_title {
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    width: 84%;
    display: inline-block;
}

.info_title::after {
    content: ' success stories.';
    color: #79C8C7;
}

.info_list {
    margin: 0px;
    margin-top: 56px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.info_list img {
    user-select: none;
}

.info_item {
    position: relative;
    z-index: 1;
    width: 350px;
}

.info_item_img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 150px;
    user-select: none;
}

.info_item_text {
    margin-top: 35px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.info_name {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #79C8C7;
    font-weight: bold;
    font-size: 18px;
}

.info_name_bottom {
    margin: 0;
    margin-bottom: 32px;
    font-size: 13px;
}

.info_img {
    position: absolute;
    right: 0;
    bottom: 0;
    user-select: none;
}

.info_img_back {
    user-select: none;
}

#contact_section {
    background-image: url("../img/contacts.svg");
    background-position: bottom 0px left -40px;
    background-repeat: no-repeat;
    background-size: 200px 100px;
    background-color: #F67E7E;
    position: relative;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.contact_title {
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    color: #012F34;
    position: static;
    z-index: 3;
}

.contact_background {
    position: absolute;
    left: 0;
    bottom: 0;
    user-select: none;
    z-index: 1;
}

.contact_btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #012F34;
    border-radius: 24px;
    background: none;
    color: #012F34;
    padding: 10px 30px;
    height: 48px;
}

.contact_btn:hover {
    background-color: #012F34;
    color: white;
}

footer {
    background-color: #002529;
    padding: 48px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
}

.footer_nav {
    width: 160px;
}

.footer_logo_link {
    display: inline-block;
    text-decoration: none;
}

.footer_logo {
    display: block;
}

.footer_nav_list {
    margin: 0px;
    margin: 20px 0;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 120px;
}

.footer_nav_link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.footer_nav_link:hover {
    color: #F67E7E;
}

.footer_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.foooter_item {
    margin-bottom: 10px;
}

.footer_link {
    text-decoration: none;
    color: white;
    opacity: .6;
}

.footer_link:hover {
    opacity: 1;
}

.footer_web {
    width: 260px;
}

.web_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    right: 0;
}

.web_item~.web_item {
    margin-left: 50px;
}

.web_link {
    display: inline-block;
    height: 24px;
    position: relative;
}

.web_img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.web_img_rep {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.web_item:hover .web_img_rep {
    display: block;
}

.web_text {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width:1100px) {
    .container {
        max-width: 690px;
    }
    .site_hero {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }
    .hero_section_img {
        display: none;
    }
    .site_hero_title {
        margin: 0;
        font-size: 64px;
        margin: 0 auto;
    }
    .site_hero_text {
        padding-top: 15px;
        font-size: 15px;
        margin: 0 auto;
        width: 70%;
    }
    .site_hero_text::before {
        display: none;
    }
    .site_hero_img {
        margin-top: 150px;
        margin-bottom: -3px;
        position: static;
    }
    .services {
        display: block;
    }
    .services_title {
        font-size: 32px;
        margin-bottom: 65px;
    }
    .services_title::before {
        top: -60px;
    }
    .services_background {
        top: 0;
    }
    #info_section {
        padding-bottom: 10px;
    }
    .info_title {
        width: 72%;
        font-size: 32px;
        line-height: 32px;
    }
    .info_list {
        display: block;
        width: max-content;
        margin: 0 auto;
    }
    .footer_list {
        text-align: right;
    }
    .info_item {
        margin-bottom: 80px;
        width: 580px;
    }
    .info_item_img {
        top: -30px;
        left: 45%;
    }
    .contact_title {
        font-size: 32px;
        position: static;
        z-index: 3;
    }
    .footer {
        position: relative;
        height: 160px;
    }
    .web_list {
        position: absolute;
        left: 24px;
        bottom: 0;
    }
}

@media (max-width: 690px) {
    .container {
        max-width: 360px;
        position: relative;
    }
    .nav_bar {
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: space-between;
    }
    .logo {
        margin: 0;
    }
    .nav_bar_list {
        padding: 48px;
        padding-top: 110px;
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: -700px;
        transition: all 1s ease;
        width: 500px;
        height: 100vh;
        background-color: #2C6269;
    }
    .nav_bar_item {
        margin-bottom: 24px;
    }
    .nav_bar_link {
        margin: 0;
    }
    .nav_bar_btn {
        top: 230px;
        left: 48px;
    }
    .hamburger_label {
        user-select: none;
        display: block;
        position: static;
        z-index: 2;
        float: right;
    }
    .hamburger {
        transition: all .5s ease;
    }
    .hamburger_1 {
        transition: all .5s ease;
    }
    .hamburger_2 {
        transition: all .5s ease;
    }
    .hamburger_outer {
        position: relative;
    }
    #toggle:checked~.nav_bar_list {
        right: -300px;
        box-shadow: -500px 0px 0px #00000098;
    }
    #toggle:checked~.hamburger_label .hamburger {
        transform: rotate(405deg);
    }
    #toggle:checked~.hamburger_label .hamburger_1 {
        transform: rotate(315deg);
        position: absolute;
        top: -4px;
        right: 0;
    }
    #toggle:checked~.hamburger_label .hamburger_2 {
        transform: rotate(315deg);
        position: absolute;
        top: -4px;
        right: 0;
    }
    .site_hero_title {
        padding-top: 10px;
        font-size: 40px;
        line-height: 40px;
        width: 218px;
    }
    .site_hero_text::before {
        display: none;
        margin: 0;
    }
    .site_hero_text {
        width: 280px;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
    }
    .site_hero_img {
        margin-top: 30px;
        width: 250px;
        height: 80px;
        left: 0;
    }
    .services {
        padding-top: 100px;
        padding-bottom: 64px;
    }
    .services_title {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        width: 240px;
    }
    .services_item {
        display: block;
        text-align: center;
    }
    .services_box {
        margin: 0 auto;
        width: 280px;
    }
    .service_box_text {
        width: 280px;
        margin: 0 auto;
    }
    .info_title {
        width: 290px;
        font-weight: bold;
        font-size: 32px;
    }
    .info_item {
        width: 280px;
    }
    .contact {
        display: block;
        padding: 85px 0;
        height: auto;
        text-align: center;
    }
    .contact_title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 25px;
    }
    .contact_background {
        position: absolute;
        z-index: 0;
    }
    .footer {
        display: block;
        margin: 0 auto;
        height: 350px;
    }
    .footer_nav {
        margin: 0 auto;
    }
    .footer_logo_link {
        margin-bottom: 24px;
    }
    .footer_nav_list {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer_list {
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .web_list {
        justify-content: center;
        position: static;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .web_facebook {
        margin-left: 32px;
    }
    .web_text {
        position: static;
        text-align: center;
        margin-bottom: 10px;
    }
}